<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="Shortcut Icon" href="~/Content/images/favicon.ico" />
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- swiper slide -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>

    <!-- main effect aos -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- custom -->
    <link rel="stylesheet" href="~/Content/css/common.css" />
    <link rel="stylesheet" href="~/Content/css/font.css" />
    <link rel="stylesheet" href="~/Content/css/header.css" />
    
    <link rel="stylesheet" href="~/Content/css/footer.css" />
    <title>@ViewBag.Title</title>
    @RenderSection("style", required: false)
</head>
<body>


    <!-- header -->
    <header>
        <div class="inner">
            <a href="/" class="logo">
                <img src="~/Content/images/logo.png" alt="" />
            </a>
            <nav class="pc_menu">
                <ul>
                    <li>
                        <a href="/Meetup/index">모임</a>
                    </li>
                    <li>
                        <a href="/Meetup/Write">모임개설하기</a>
                    </li>
                    <li>
                        <a href="/Community/Index">커뮤니티</a>
                    </li>
                    <li>
                        <a href="/Notice/Index">고객지원</a>
                    </li>
                </ul>
            </nav>
            <div class="user_wrap">
                @if (Damoyeo.Util.Manager.UserManager.IsLogin())
                {
                    <a href="/User/" class="mypage">
                        <img src="~/Content/images/user.svg" alt="" />
                    </a>
                    <!-- 로그인후 -->
                    <a href="/auth/logout" class="login pc_menu">로그아웃</a>
                }
                else
                {
                    <!-- 로그인전 -->
                    <a href="/auth/login" class="login pc_menu">로그인</a>
                }

                <a href="javascript:void(0);" class="mo_menu hamburger">
                    <img src="~/Content/images/menu_btn.svg" alt="">
                </a>

            </div>
        </div>

        <div class="mo_side_dim mo_menu"></div>
        <div class="mo_side_menu mo_menu">
            <div class="side_top">
                <a href="/" class="m_logo">
                    <img src="~/Content/images/logo.png" alt="" />
                </a>
                <span class="mo_close">
                    <img src="~/Content/images/close.svg" alt="">
                </span>
            </div>
            <div class="side_middle">
                @if (Damoyeo.Util.Manager.UserManager.IsLogin())
                {
                    <!-- 로그인후 -->
                    <p class="welcome">
                        <span>@Damoyeo.Util.Manager.UserManager.GetCookie().Nickname</span><br>
                        환영합니다.
                    </p>
                }
                else
                {
                    <!-- 로그인전 -->
                    <p class="welcome">
                        즐거운 소모임<br>
                        <span>다모여와</span> 함께해요!
                    </p>
                }

                @if (Damoyeo.Util.Manager.UserManager.IsLogin())
                {
                    <div class="login_join">
                        <a href="/auth/logout" class="mlogout">로그아웃</a>
                    </div>
                }
                else
                {
                    <div class="login_join">
                        <a href="/auth/login" class="mlogin">로그인</a>
                        <a href="/auth/signup" class="mjoin">회원가입</a>
                    </div>
                }


            </div>
            <ul class="mo_nav">
                <li>
                    <a href="/Meetup/index" class="on">

                        <img src="~/Content/images/icon2_on.svg" alt="">
                        <span>모임</span>
                    </a>
                </li>
                <li>
                    <a href="/Meetup/Write">
                        <img src="~/Content/images/icon3.svg" alt="">
                        <span>모임개설하기</span>
                    </a>
                </li>
                <li>
                    <a href="/Community/Index">
                        <img src="~/Content/images/icon4.svg" alt="">
                        <span>커뮤니티</span>
                    </a>
                </li>
                <li>
                    <a href="/Notice/Index">
                        <img src="~/Content/images/icon6.svg" alt="">
                        <span>고객지원</span>
                    </a>
                </li>
            </ul>
        </div>
    </header>




    @RenderBody()

    <!-- 우측 고정 top_btn -->
    <a href="javascript:void(0);" class="top_fixed">
        <img src="~/Content/images/top_btn.svg" alt="" />
    </a>


    <footer>
        <div class="inner">
            <img src="~/Content/images/logo_g.png" alt="" />
            <p>© damoyeo corp All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/Content/js/common.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
