<div class="left_dim mo_menu"></div>
<div class="left_menu">
    <span class="mo_close mo_menu">
        <img src="images/close.svg" alt="">
    </span>
    <ul>
        <li>
            <a href="/User" @(ViewBag.TabIndex == 1 ? "class=on" : "")><img src="~/Content/images/icon1.svg" alt="" />회원 관리</a>
        </li>
        <li>
            <a href="/Meetup" @(ViewBag.TabIndex == 2 ? "class=on" : "")><img src="~/Content/images/icon3.svg" alt="" />모임 관리</a>
        </li>
        <li>
            <a href="/Community" @(ViewBag.TabIndex == 3 ? "class=on" : "")><img src="~/Content/images/icon4.svg" alt="" />커뮤니티</a>
        </li>
        <li>
            <a href="/Notice" @(ViewBag.TabIndex == 4 ? "class=on" : "")><img src="~/Content/images/icon6.svg" alt="" />공지사항</a>
        </li>
    </ul>

    <div class="left_bottom">
        <a href="/Home/Index"><img src="~/Content/images/setting.svg" alt="" @(ViewBag.TabIndex == 5 ? "class=on" : "") /> 관리자 설정</a>
        <a href="/Auth/Logout" class="admin_logout">로그아웃</a>
    </div>
</div>

