
@{

    var name = HttpUtility.UrlDecode(Damoyeo.Util.Manager.UserManager.GetCookie().Nickname);
    var profileImage = HttpUtility.UrlDecode(Damoyeo.Util.Manager.UserManager.GetCookie().ProfileImage);
}

<!-- 래프트 고정 -->
<div class="my_left">
    <div class="my_sticky">
        <div class="my_profile my_box">
            <div class="my_photo">
                <p>
                    <img src="~/Content/images/profile.png" id="preview" alt="">
                </p>
                <span>
                    <label for="file_upload">
                        @if (string.IsNullOrEmpty(profileImage))
                        {
                            <img src="~/Content/images/camera.svg" alt="">
                        }
                        else
                        {
                            <img src="@profileImage" alt="">
                        }


                        <input type="file" id="file_upload" style="display: none;">
                    </label>
                </span>
            </div>
            <p><span>@(name)님</span><br>환영합니다.</p>
        </div>
        <div class="my_move my_box">
            <p class="move_tit">마이페이지</p>
            <ul>
                <li>
                    <a href="/User/Index" @(ViewBag.TabIndex == 1 ? "class=on" : "")>회원정보수정</a>
                </li>
                
                <li>
                    <a href="/User/Opening" @(ViewBag.TabIndex == 2 ? "class=on" : "")>개설한 소모임</a>
                </li>
                <li>
                    <a href="/User/Join" @(ViewBag.TabIndex == 3 ? "class=on" : "")>참여한 소모임</a>
                </li>
                <li>
                    <a href="/User/Wish" @(ViewBag.TabIndex == 4 ? "class=on" : "")>찜 목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>
