@using Damoyeo.Model.Model;
@model DamoyeoUser
@{
    ViewBag.Title = "회원가입";
    var categoryList = ViewData["categoryList"] as PagedList<DamoyeoCategory>;
}

@section style
{    
    <link rel="stylesheet" href="~/Content/css/signup.css" />
}


<div class="section_wrap sign_wrap">
    <div class="inner sub_inner">
        <h3 class="section_title">회원가입</h3>

        <div class="sign_box">
            <form id="myform" action="/auth/signup" method="post" enctype="multipart/form-data">
                <div class="meminput_box">
                    <ul>

                        @if (string.IsNullOrEmpty(Model.email))
                        {
                            <li class="mcalc">
                                <p class="mo_tit">이메일<i class="ab">＊</i></p>
                                <div class="mo_txt">
                                    <div class="mo_email">
                                        <input type="email" id="emailId" maxlength="50" value="" />
                                        <input type="hidden" id="email" name="email" maxlength="50" value="" />
                                        <p class="email_at">@@</p>
                                        <input type="text" id="selectEmail2" value="">
                                        <select id="selectEmail">
                                            <option value="1" selected="">직접입력</option>
                                            <option value="naver.com">naver.com</option>
                                            <option value="hanmail.net">hanmail.net</option>
                                            <option value="gmail.com">gmail.com</option>
                                        </select>
                                    </div>
                                    <span class="page_cbtn" onclick="IdCheck();">중복확인</span>
                                    <p class="mo_mark" id="id_check_msg" style="display:none;">해당 이메일은 이미 사용 중입니다.</p>
                                </div>
                            </li>
                            <li class="mcalc">
                                <p class="mo_tit">닉네임<i class="ab">＊</i></p>
                                <div class="mo_txt">
                                    <input type="text" id="nickname_input" maxlength="10" placeholder="닉네임을 입력해주세요.">
                                    <input type="hidden" id="nickname" name="nickname" maxlength="10">
                                    <span class="page_cbtn" onclick="NicknameCheck();">중복확인</span>
                                    <p class="mo_mark" id="nickname_check_msg" style="display:none;">해당 닉네임은 이미 사용 중입니다.</p>
                                </div>
                            </li>
                            <li class="mcalc">
                                <p class="mo_tit">비밀번호<i class="ab">＊</i></p>
                                <div class="mo_txt">
                                    <input type="password" id="password" name="password" placeholder="현재 비밀번호">
                                </div>
                            </li>
                            <li class="">
                                <p class="mo_tit">비밀번호 확인<i class="ab">＊</i></p>
                                <div class="mo_txt">
                                    <input type="password" id="confirm_password" placeholder="비밀번호 확인" onkeyup="PwCheck();">
                                    <p class="mo_mark" id="pw_check_msg"></p>
                                </div>
                            </li>
                            <input type="hidden" value="0" name="signup_type" id="signup_type">
                        }
                        else
                        {//카카오 회원가입 시
                            <input type="hidden" value="@Model.email" name="email" id="email">
                            <input type="hidden" value="kakao" name="password" id="password">
                            <input type="hidden" value="1" name="signup_type" id="signup_type">

                            <li class="mcalc">
                                <p class="mo_tit">닉네임<i class="ab">＊</i></p>
                                <div class="mo_txt">
                                    <input type="text" id="nickname_input" maxlength="10" placeholder="닉네임을 입력해주세요.">
                                    <input type="hidden" id="nickname" name="nickname" maxlength="10">
                                    <span class="page_cbtn" onclick="NicknameCheck();">중복확인</span>
                                    <p class="mo_mark" id="nickname_check_msg" style="display:none;">해당 닉네임은 이미 사용 중입니다.</p>
                                </div>
                            </li>
                        }

                        <li>
                            <p class="mo_tit">관심 카테고리</p>
                            <div class="mo_txt">
                                <div class="inter_check">
                                    @{int index = 0; }
                                    @foreach (var item in categoryList)
                                    {

                                        <label for="interest@(index)" class="check_box">
                                            <input type="checkbox" id="interest@(index)" value="@item.category_id" name="interest">@item.category_name
                                        </label>
                                        index++;
                                    }
                                </div>
                            </div>
                        </li>
                        <li>
                            <p class="mo_tit">자기소개</p>
                            <div class="mo_txt">
                                <textarea name="slf_Intro" id="slf_Intro" cols="30" rows="10" placeholder="자유롭게 자신을 소개해보세요."></textarea>
                            </div>
                        </li>
                    </ul>
                    <span class="sign_btn big_btn" id="submitBtn">가입하기</span>

                </div>
            </form>
        </div>
    </div>
</div>



@section scripts{
    <script>

        if ("@Model.email" != "")
        {
            alertBox("카카오톡 회원가입 후 이용부탁드립니다.");
        }

        $(document).ready(function () {


            $("#submitBtn").on("click", function () {

                //카카오 회원가입이 x
                if ("@Model.email" == "") {
                    if ($("#email").val() == "") {
                        alertFocus("이메일을 중복확인을 해주세요.", $('#emailId'));
                        return false;
                    }

                    if ($("#nickname").val() == "") {
                        alertFocus("닉네임을 중복확인을 해주세요.", $('#nickname_input'));
                        return false;
                    }

                    if ($("#password").val() == "") {
                        alertFocus("비밀번호를 입력해주세요", $('#password'));
                        return false;
                    }

                    if (!PwCheck()) {
                        alertFocus("비밀번호와 확인값이 일치하지 않습니다.", $('#password'));
                        return false;
                    }
                }
                else
                {//카카오 회원가입
                    if ($("#nickname").val() == "") {
                        alertFocus("닉네임을 중복확인을 해주세요.", $('#nickname_input'));
                        return false;
                    }
                }
    
                $("#myform").submit();
            });
        });



        function IdCheck()
        {
            console.log("실행")
            if ($("#emailId").val() == "" || $("#selectEmail2").val() == "") {
                alertFocus("이메일을 입력해주세요", $('#emailId'));
                return false;
            }
            var email = $("#emailId").val() + "@@" + $("#selectEmail2").val()


            console.log(email)


            $.ajax({
                type: 'POST',
                url: '/Auth/CheckDuplicateId', // 요청을 보낼 서버 측 URL
                data: { email: email }, // 전송할 데이터
                success: function (response) {
                    // 성공적으로 요청을 처리했을 때 실행할 코드
                    console.log(response);
                    if (response.seccess)
                    {
                        if (response.data) {
                            $("#email").val(email);
                            $("#id_check_msg").html("사용 가능한 이메일입니다");
                            $("#id_check_msg").css("color", "green")
                            $("#id_check_msg").show();

                            //수정금지처리
                            $("#selectEmail").prop("disabled", true);
                            $("#selectEmail2").attr("readonly", true);
                            $("#emailId").attr("readonly", true);
                        }
                        else
                        {
                            $("#id_check_msg").html("해당 이메일은 이미 사용 중입니다.");
                            $("#id_check_msg").show();
                            //$("").show();
                        }


                    }
                },
                error: function (xhr, status, error) {
                    // 요청이 실패했을 때 실행할 코드
                    console.error(xhr.responseText);
                }
            });

        }

        function NicknameCheck() {

            if ($("#nickname_input").val() == "") {
                alertFocus("닉네임을 입력해주세요", $('#nickname_input'));
                return false;
            }

            var nickname = $("#nickname_input").val();

            $.ajax({
                type: 'POST',
                url: '/Auth/CheckDuplicateNickname', // 요청을 보낼 서버 측 URL
                data: { nickname: nickname }, // 전송할 데이터
                success: function (response) {
                    // 성공적으로 요청을 처리했을 때 실행할 코드
                    console.log(response);
                    if (response.seccess) {
                        if (response.data) {
                            $("#nickname").val(nickname);
                            $("#nickname_check_msg").html("사용 가능한 닉네임입니다");
                            $("#nickname_check_msg").css("color", "green");
                            $("#nickname_check_msg").show();

                            //수정금지처리
                            $("#nickname").attr("readonly", true);
                        }
                        else {
                            $("#nickname_check_msg").html("해당 닉네임은 이미 사용 중입니다.");
                            $("#nickname_check_msg").css("color", "#d83d3d");
                            $("#nickname_check_msg").show();

                        }


                    }
                },
                error: function (xhr, status, error) {
                    // 요청이 실패했을 때 실행할 코드
                    console.error(xhr.responseText);
                }
            });

        }


        function PwCheck()
        {
            var password = $("#password").val();
            var confirmPassword = $("#confirm_password").val();

            if (password == confirmPassword) {
                $("#pw_check_msg").html("비밀번호가 일치합니다.").css('color', 'green');
                return true;
            } else {
                $("#pw_check_msg").html("입력하신 비밀번호와 확인란의 비밀번호가 일치하지 않습니다.").css('color', '#d83d3d');
                return false;
            }
        }
    </script>
}

