@using Damoyeo.Model.Model.Pager
@using Damoyeo.Model.Model
@model DamoyeoUser
@{
    ViewBag.Title = "Home Page";

    var userList = ViewData["userList"] as PagedList<DamoyeoUser>;
}

@section style{
    <link rel="stylesheet" href="~/Content/css/admin.css" />
}


<div class="admin_contents">
    <!-- 래프트 고정 -->
    @Html.Partial("_Partial/_Left")

    <div class="right_con">
        <div class="admin_wrap">
            <h3>관리자 설정</h3>

            <div class="admin_box">
                <div class="admin_left">
                    <p class="mini_tit">정보 수정</p>

                    <div class="admin_article admin_modify">
                        <form action="/Home/Index" method="post" id="myform">
                            <ul>
                                <li>
                                    <div class="left">부서/직급</div>
                                    <div class="right">
                                        <input type="text" name="slf_Intro" id="slf_Intro" value="@Model.slf_Intro">
                                    </div>
                                </li>
                                <li>
                                    <div class="left">이름</div>
                                    <div class="right">
                                        <input type="text" name="nickname" id="nickname" value="@Model.nickname">
                                    </div>
                                </li>
                                <li>
                                    <div class="left">아이디</div>
                                    <div class="right">
                                        <input type="text" name="" id="" value="@Model.email">
                                    </div>
                                </li>

                                <li>
                                    <div class="left">현재 비밀번호</div>
                                    <div class="right mo_txt">
                                        <input type="password" name="password" id="password" value="">
                                        <span class="page_cbtn" id="pwChg">비밀번호 변경하기</span>
                                    </div>
                                </li>
                                <li class="new_pw_wrap">
                                    <div class="left">신규 비밀번호</div>
                                    <div class="right">
                                        <input type="password" name="new_password" id="new_password" value="">
                                    </div>
                                </li>
                                <li class="new_pw_wrap">
                                    <div class="left">신규 비밀번호 확인</div>
                                    <div class="right">
                                        <input type="password" name="new_confirm_password" id="new_confirm_password" value="" onkeyup="PwCheck()">
                                        <p class="mo_mark" id="pw_check_msg"></p>
                                    </div>
                                </li>
                            </ul>
                        </form>

                        <div class="cw_btn" id="modify_btn">
                            <span class="big_btn">수정하기</span>
                        </div>
                    </div>
                </div>
                <div class="admin_right">
                    <p class="mini_tit">관리자 리스트</p>
                    <div class="admin_article">
                        <ul class="list_tit list_common">
                            <li>직급/부서</li>
                            <li>이름</li>
                            <li>아이디</li>
                            <li>삭제</li>
                        </ul>

                        @if (userList.Any())
                        {
                            foreach (var item in userList)
                            {
                                <ul class="list_txt list_common">


                                    <li>@item.slf_Intro</li>
                                    <li>@item.nickname</li>
                                    <li>@item.email</li>
                                    <li>
                                        <span class="delete_btn" onclick="alertBox('관리자 삭제는 금지되어 있습니다.')">
                                            <img src="~/Content/images/del_btn.svg" alt="">
                                        </span>
                                    </li>
                                </ul>
                            }

                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts{
    @Html.Partial("~/Views/Shared/_Partial/_SweetAlert.cshtml")
    <script>
        $(function () {
            $("#pwChg").click(function () {
                $(".new_pw_wrap").css({ display: "flex" });
            });
        });


        function PwCheck() {
            var password = $("#new_password").val();
            var confirmPassword = $("#new_confirm_password").val();

            if (password == confirmPassword) {
                $("#pw_check_msg").html("비밀번호가 일치합니다.").css('color', 'green');
                return true;
            } else {
                $("#pw_check_msg").html("입력하신 비밀번호와 확인란의 비밀번호가 일치하지 않습니다.").css('color', '#d83d3d');
                return false;
            }
        }

        $("#modify_btn").on("click", function () {

            if ($("#password").val() == "") {
                alertFocus("비밀번호를 입력해주세요", $('#password'));
                return false;
            }

            if ($("#new_password").val() != "") {

                if (!PwCheck()) {
                    alertFocus("비밀번호와 확인값이 일치하지 않습니다.", $('#new_password'));
                    return false;
                }
            }

            $("#myform").submit();

        });
    </script>

}

