@using Damoyeo.Model.Model
@model  IEnumerable<DamoyeoApplications>
@{
    ViewBag.Title = "Join";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/mypage.css" />
}
<div class="section_wrap mypage_wrap">
    <div class="inner sub_inner">
        <!-- 래프트 고정 -->
        @Html.Partial("_Partial/_Left")

        <div class="my_right my_box my_join">
            <!-- 개설한 소모임 -->
            <p class="my_title">참여한 소모임</p>



            <div class="my_common_list">
                @if (Model.Any())
                {
                    <ul>

                        @foreach (var item in Model)
                        {
                            <li>
                                <div class="left">

                                    @if (!string.IsNullOrEmpty(item.damoyeo_meetup.meetup_image))
                                    {
                                        <img src="@item.damoyeo_meetup.meetup_image" alt="" class="mc_main_img" />
                                    }
                                    else
                                    {
                                        <!--<img src="~/Content/images/test.jpg" alt="" class="mc_main_img">-->
                                        <img src="https://placeholder.com/308x269/png" alt="" class="mc_main_img" />
                                    }
                                    <a href="/Meetup/Detail?meetup_id=@item.meetup_id" class="mcl_txt">
                                        <p class="mlist_tit">[@item.damoyeo_meetup.Category.category_name] @item.damoyeo_meetup.meetup_name</p>
                                        <span class="mlist_txt">@item.damoyeo_meetup.meeting_intro</span>
                                        <span class="m_mark"><img src="~/Content/images/marker.svg" alt=""> @item.damoyeo_meetup.bname</span>
                                    </a>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            <img src="~/Content/images/mini_user.svg" alt="">
                                            <span>지원자</span>
                                            <p>@(item.damoyeo_meetup.user_count)명</p>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/mini_calendar.svg" alt="">
                                            <span>마감날짜</span>
                                            <p>@item.damoyeo_meetup.application_edate</p>
                                        </li>
                                        <li>
                                            <a href="javascript:Application(@item.meetup_id)" class="ml_can ml_btn">지원취소하기</a>
                                            <a href="@item.damoyeo_meetup.kakao_openchat_link" class="ml_kakao ml_btn"><img src="~/Content/images/kakao.svg" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        }

                    </ul>


                }
                else
                {
                    <!-- 참여한 소모임 없을때 -->
                    <div class="no_list_wrap">
                        <img src="~/Content/images/no_list.svg" alt="">
                        <p>참여한 소모임이 없습니다.</p>
                    </div>
                }


            </div>
        </div>

    </div>
</div>

@section scripts{
    <script>
        //카카오 오픈채팅 링크 복사
        $(document).ready(function () {
            $(".ml_kakao").click(function () {
                var link = $(this).attr('href');
                copyToClipboard(link);
                alertBox('링크가 복사되었습니다: ' + link);
                return false; // Prevent default link behavior
            });

            function copyToClipboard(text) {
                var $temp = $("<input>");
                $("body").append($temp);
                $temp.val(text).select();
                document.execCommand("copy");
                $temp.remove();
            }
        });

        function Application(meetup_id) {

          $.ajax({
             type: "POST",
             url: "/Meetup/Application",
              data: { meetup_id: meetup_id },
             success: function (response) {
                 if (response.success)
                 {
                     if (response.code == 1)
                     {
                         alertBox("모임참여 완료 하였습니다!! \n 마이페이지에 > 참여 소모임 \n 카카오톡 오픈채팅을 이용해주세요.", reloadPage)
                     }
                     else if (response.code == 2) {
                         alertBox("모임참여 취소 하였습니다.", reloadPage)
                     }
                 }
             },
             error: function (xhr, status, error) {
                 console.error("실패: ", error);
             }
         });
 }
    </script>
}
