@using Damoyeo.Model.Model
@model IEnumerable<DamoyeoApplications>
@{
    ViewBag.Title = "OpeningDetail";
}

@section style
{
    <link rel="stylesheet" href="~/Content/css/mypage.css" />
}

<div class="section_wrap mypage_wrap">
    <div class="inner sub_inner">
        <!-- 래프트 고정 -->
        @Html.Partial("_Partial/_Left")

        <div class="my_right my_box my_open join_list">
            <div class="back_btn">
                <a href="/User/Opening"><img src="~/Content/images/page_left.svg" alt=""></a>
            </div>
            <p class="my_title">소모임 신청자 리스트</p>
            <div class="my_common_list">
                @if (Model.Any())
                {
                    <div class="">
                        <p class="join_p_tit"><span>지원자 @Model.Count()</span> / @Model.FirstOrDefault().damoyeo_meetup.max_user_count</p>
                        <ul>
                            @foreach (var item in Model)
                            {

                                <!-- 지원자명 클릭시 지원자 정보 팝업-->
                                <li>
                                    <div class="join_img_name" onclick="GetUserInfo('@item.application_user.email')">
                                        <span>
                                            @if (string.IsNullOrEmpty(item.application_user.profile_image))
                                            {
                                                <img src="~/Content/images/profile.png" alt="">
                                            }
                                            else
                                            {
                                                <img src="@item.application_user.profile_image" alt="">
                                            }
                                        </span>
                                        <p>@item.application_user.nickname</p>
                                    </div>
                                </li>



                            }


                        </ul>
                    </div>
                }
                else
                {
                    <!-- 소모임 신청자 없을때 -->
                    <div class="no_list_wrap">
                        <img src="~/Content/images/no_list.svg" alt="">
                        <p>소모임 신청자가 없습니다.</p>
                    </div>
                }



            </div>
        </div>



        <!-- 지원자 정보 팝업 -->
        <div class="meminfo_popup_dim common_pop_dim"></div>
        <section class="meminfo_popup common_popup">
            <span class="meminfo_close common_close">
                <img src="~/Content/images/close.svg" alt="닫기">
            </span>
            <p class="popup_tit">지원자 정보</p>

            <ul class="meminfo_box">
                <li>
                    <span >닉네임</span>
                    <p id="nickname"></p>
                </li>
                <li>
                    <span>자기소개</span>
                    <p id="slf_Intro">
                       
                    </p>
                </li>
                <li>
                    <span>관심카테고리</span>
                    <p id="categoty"></p>
                </li>
            </ul>
        </section>

    </div>
</div>

@section scripts
{
    <script>

        function GetUserInfo(email) {
            
            $.ajax({
                type: 'POST',
                url: '/User/GetUserInfo', 
                data: { email: email }, 
                success: function (response) {
                    if (response.success) {
                        if (response.data) {
                            $("#nickname").html(response.data.userInfo.nickname)
                            $("#slf_Intro").html(response.data.userInfo.slf_Intro)

                            if (response.data.interestCategory.length > 0)
                            {
                                var categoty = response.data.interestCategory.join(',');
                                $("#categoty").html(categoty);
                            }
                        }
                    }
                },
                error: function (xhr) {
                    console.error(xhr);
                }
            });
        }

        //지원자 정보 팝업 열고 닫기
        $(function () {


            $(".join_img_name").click(function () {
                $(".meminfo_popup").show();
                $(".meminfo_popup_dim").show();
            });

            $(".meminfo_close, .meminfo_popup_dim").click(function () {
                $(".meminfo_popup").hide();
                $(".meminfo_popup_dim").hide();
            });


            
            
       })

           
        
   
    </script>
}
