@using Damoyeo.Model.ViewModel
@model  MeetupListVm
@{
    ViewBag.Title = "Opening";
}


@section style
{
    <link rel="stylesheet" href="~/Content/css/mypage.css" />
}
<div class="section_wrap mypage_wrap">
    <div class="inner sub_inner">
        <!-- 래프트 고정 -->
        @Html.Partial("_Partial/_Left")

        <div class="my_right my_box my_open">
            <!-- 개설한 소모임 -->
            <p class="my_title">개설한 소모임</p>

            <div class="my_common_list">
                <ul>

                    @if (!Model.list.Any())
                    {


                        <!-- 개설한 소모임 없을때 -->
                        <div class="no_list_wrap">
                            <img src="~/Content/images/no_list.svg" alt="">
                            <p>개설한 소모임이 없습니다.</p>
                        </div>
                    }
                    else
                    {
                        foreach (var item in Model.list)
                        {

                            <li>
                                <div class="left">

                                    @if (!string.IsNullOrEmpty(item.meetup_image))
                                    {
                                        <img src="@item.meetup_image" alt="" class="mc_main_img" />
                                    }
                                    else
                                    {
                                        <!--<img src="~/Content/images/test.jpg" alt="" class="mc_main_img">-->
                                        <img src="https://placeholder.com/308x269/png" alt="" class="mc_main_img" />
                                    }

                                    <a href="/Meetup/Detail?meetup_id=@item.meetup_id" class="mcl_txt">
                                        <p class="mlist_tit">[@item.Category.category_name] @item.meetup_name</p>
                                        <span class="mlist_txt">@item.meeting_intro</span>
                                        <span class="m_mark"><img src="~/Content/images/marker.svg" alt=""> @item.bname</span>
                                    </a>
                                </div>
                                <div class="right">
                                    <ul>
                                        <li>
                                            <img src="~/Content/images/mini_heart.svg" alt="">
                                            <span>찜</span>
                                            <p>@(item.wish_count)명</p>
                                        </li>

                                        <!-- 지원자 클릭시 지원자리스트 페이지 이동 -->
                                        <li>
                                            <img src="~/Content/images/mini_user.svg" alt="">
                                            <span>지원자</span>
                                            <a href="/User/OpeningDetail?meetup_id=@item.meetup_id" class="ml_people">@(item.applications_count)명 <img src="~/Content/images/move_arrow.svg" alt=""></a>
                                        </li>
                                        <li>
                                            <img src="~/Content/images/mini_calendar.svg" alt="">
                                            <span>마감날짜</span>
                                            <p>@item.application_edate</p>
                                        </li>
                                        <li>
                                            <a href="/Meetup/Edit?meetup_id=@item.meetup_id" class="ml_modify ml_btn">수정하기</a>
                                            <a href="" class="ml_del ml_btn">삭제하기</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>

                        }
                    }


                </ul>

            
            </div>
        </div>
    </div>
</div>